* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f9fc;
    font-family: sans-serif;
    color: #6b7c93;
}

.dev-box {
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(50, 50, 90, .1);
    overflow: hidden;
}

.dev-title {
    text-align: center;
    margin: 20px 0;
    color: #6b7c93;
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.dev-title-w {
    padding: 0 10px;
    font-size: 1.4em;
    font-family: monospace;
    color: #53a7ea;
}

p {
    font-size: .875em;
    line-height: 1.4em;
    padding: 10px;
}

.navbar {
    background: #fff;
    box-shadow: 0 0 3px #aaa;
    color: #757575;
    font-weight: bold;
    padding: 11px 15px 9px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar p {
    box-sizing: border-box;
    display: inline-block;
    width: calc(50% - 15px);
}

.navbar .right {
    text-align: right;
    font-weight: normal;
}

.area {
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-top: 70px;
}

.dev-box {
    border-radius: 8px;
}

img {
    display: block;
    max-width: 100%;
}

.dev-box:hover {
    opacity: .8;
}

/* LAYOUT DE COLUNAS
-------------------- */

/* 5 colunas */

@media (min-width: 1150px) {
    .area {
        column-count: 5;
    }
}

/* 4 colunas */

@media (max-width: 1150px) {
    .area {
        column-count: 4;
    }
}

/* 3 colunas */

@media (max-width: 900px) {
    .area {
        column-count: 3;
    }
}

/* 2 colunas */

@media (max-width: 650px) {
    .area {
        column-count: 2;
    }
}

/* 1 colunas */

@media (max-width: 400px) {
    .area {
        column-count: 1;
        width: 100%;
    }
}

/* break */

.dev-box {
    break-inside: avoid-column;
}
